page-login{
        .submit-btn {
     
        border-radius: 30px !important;
        border: 1px solid #ffffff;
      } 

      img {margin-bottom: 40px;}

      .item.item-block.item-ios.item-input{
        margin: 0 auto;
    }


    button.disable-hover.button.button-ios⋅.button-default.button-default-ios.button-block-ios{
        margin: 0 auto;
        margin-top:3vh;
        width: 40vh;
    }

    .disable-hover.button.button-ios.button-default.button-default-ios.button-block.button-block-ios{
        margin: 0 auto;
        width:40vh;
    }

       .item.item block.item ios.item-input{
        width: 40vh;
        margin: 0 auto;

    }

    .item.item-block.item-ios.item-input{
                width: 40vh;
        margin: 0 auto;
    }

    .submit-btn.disable-hover.button.button-ios.button-default.button-default-ios.button-full.button-full-ios{
      margin: 0 auto;
      width: 40vh;
    }

    
}
