page-add-patient {
    button.submit-btn.disable-hover.button.button-ios.button-default.button-default-ios.button-full.button-full-ios{
        margin-top: 30px;
        margin-bottom:30px;
    }

    h1 {

    }
    
    hr{
        width: 49vh;
        margin-left: 15px;
        margin-bottom: 50px;
        background-color:#FF0066;
        color:#FF0066;
    }
}
