page-profile {
    h2{
        text-align: left;
        padding: 15px 0;
    }
    
    hr{
         background-color: #488aff;
        border:1px solid #488aff;
       
    }
    
    h2, p {
        display:inline;
        
    }

    p {
      padding-left: 30px;
    }

    .content-ios hr,.content-md hr  {
         background-color: #488aff;
    }
    
    .note {
        background-color: #F2F2F2;
        padding: 20px 0;
        text-align: center;
    }

    h3{
        text-align: center;
    }

    ion-list{
        margin: 0 auto;
    }

            .disable-hover.button.button-ios.button-default.button-default-ios.button-block.button-block-ios.button-ios-secondary{
        margin: 0 auto;
        width:30vh;

    }


}
