page-security-code {



    button.disable-hover.button.button-ios⋅.button-default.button-default-ios.button-block-ios{
        margin-top:3vh;
    }

    p {
        padding-top:350px;
        margin-bottom:100px;
    
    }

    .note { 
        height: 150px;
        width: 400px;
        background-color:#F2F2F2;
    }

}
