page-security-code {

.item.item-block.item-ios.item-input{
        margin: 0 auto;
    }


    button.disable-hover.button.button-ios⋅.button-default.button-default-ios.button-block-ios{
        margin: 0 auto;
        margin-top:3vh;
        width: 40vh;
    }

    .disable-hover.button.button-ios.button-default.button-default-ios.button-block.button-block-ios{
        margin: 0 auto;
        width:40vh;
    
    }

        .disable-hover.button.button-ios.button-default.button-default-ios.button-block.button-block-ios.button-ios-danger{
        margin: 0 auto;
        width:10vh;
        margin-right: 163px;
        margin-top: 5px;
    }


       .item.item block.item ios.item-input{
        width: 40vh;
        margin: 0 auto;

    }

    .item.item-block.item-ios.item-input{
                width: 40vh;
        margin: 0 auto;
    }

    p {
        padding-top:200px;
        margin-bottom:100px;
        font-size: 20px;
    
    }

    .note { 
        height: 150px;
        width: 400px;
        background-color:#F2F2F2;
    }

}
